@model PartialViewDemo.Models.SubjectGrade

<fieldset>
    <legend>@Html.DisplayNameFor(model => model.Subject): @Html.DisplayFor(model => model.Subject)</legend>

    
    <span class="display-label">
         @Html.DisplayNameFor(model => model.Grade)
    </span>
    :
    <span class="display-field">
        @Html.DisplayFor(model => model.Grade)
    </span>
</fieldset>
<p>
   
</p>
