<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IImpreciseService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2001/ImpreciseService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IImpreciseService"
                contract="ServiceReference1.IImpreciseService" name="BasicHttpBinding_IImpreciseService" />
        </client>
    </system.serviceModel>
</configuration>