@model CarRental02.Models.CarBrand

@{
    ViewBag.Title = "InsertBrand";
}

<h2>InsertBrand</h2>

@using(Html.BeginForm("Insert", "BrandViewModel", FormMethod.Post))
{
    <table border="1" cellpadding="10">
        <tr>
            <td>Brand Id: </td>
            <td>@Html.TextBoxFor(m=>m.CarBrandId)</td>
        </tr>
        <tr>
            <td>Brand Name: </td>
            <td>@Html.TextBoxFor(m=>m.BrandName)</td>
            <td>@Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })</td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Save" formaction="/BrandViewModel/Insert"/>
                <input type="submit" value="Cancel" formaction="/BrandViewModel/Index"/>
            </td>
        </tr>
    </table>
}