@model RegistrationDemo.Models.Member

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/Home/Edit" method="post">
    ID:
    <input type="text" name="Id" value="@Model.Id" />
    <input type="hidden" name="prevId" value="@Model.Id" />
    <br /><br />
    Name:
    <input name="Name" value="@Model.Name"/>
    <br /><br />
    Seniority:
    <input name="Seniority" value="@Model.Seniority"/>
    <br /><br />
    <input type="submit" value="Update" />
</form>