@{
    ViewBag.Title = "RegistrationPage";
}

<h2>RegistrationPage</h2>

<form action="/Home/Register" method="post">
    ID:
    <input name="Id" />
    <br /><br />
    Name:
    <input name="Name" />
    <br /><br />
    Seniority:
    <input name="Seniority" />
    <br /><br />
    <input type="submit" value="Register" />
</form>

<form action="/Home/Index" method="get">
    <input type="submit" value="Back to Index"/>
</form>
