@model AjaxDemo.Models.Person

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <h2>Person Displayer</h2>
    <p>
        Enter person ID : 
        @Html.TextBox("id")
        <input type="button" value="Find" onclick="FetchPerson()" />
    </p>
    <h3>This is where we put our information:</h3>
    <div id="personPH"></div>
}

<script src="\Scripts\jquery-1.8.2.js"></script>
<script>
    $(function () {
        $(document).submit(function (evt) {
            evt.preventDefault();
        });
    });
</script>
<script>
    function FetchPerson() {
        var personId = $("#id").val();
        var target="/Person/Index?Id=" + personId
        $.ajax({
            url: target,
            type: "POST",
            async: true,
            success: function (result) {
                $("#personPH").html(result);
            },
            error: function (x, s, e) {
                $("#personPH").html("Can not find person " + $("#id").val());
            }
        })
    }
</script>