@model List<RegistrationDemo.Models.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Seniority</th>
    </tr>
    @foreach (var m in Model)
    {
        <tr>
            <td>@m.Id</td>
            <td>@m.Name</td>
            <td>@m.Seniority</td>
        </tr>
    }
</table>
