@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Home/ShowExercise/Add">Add</a>
<a href="/Home/ShowExercise/Subtract">Subtract</a>
<a href="/Home/ShowExercise/Mul">Mul</a>
<a href="/Home/ShowExercise/Div">Div</a>
