<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISimpleBirthService" />
                <binding name="BasicHttpBinding_IExactBirthService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/BirthService/Simple"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISimpleBirthService"
                contract="Birth.ISimpleBirthService" name="BasicHttpBinding_ISimpleBirthService" />
            <endpoint address="http://localhost:8733/BirthService/Exact"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExactBirthService"
                contract="Birth.IExactBirthService" name="BasicHttpBinding_IExactBirthService" />
        </client>
    </system.serviceModel>
</configuration>