@model RegistrationDemo.Models.MemberViewModel

@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

<p>
    ID: @Model.MemberData.Id
</p>
<p>
    Name: @Model.MemberData.Name
</p>
<p>
    City: @Model.CityName
</p>
<p>
    Seniority: @Model.MemberData.Seniority
</p>
<h2>
    <a href="/Home/Index">Back to Index</a>
</h2>
