@{
    ViewBag.Title = "Protected";
}

<h2>Protected</h2>

<h3>Secret information:</h3>
asd adqwe ds qead qe qwd asd wqe asa da xs

@Html.ActionLink("Index","Index")
@Html.ActionLink("Log out","Logout", "Account")

