@model JsonDemo.Models.Computer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="dataPH"></div>

<script src="\Scripts\jquery-1.8.2.js"></script>
<script>
    $(function () {
        FetchData();
    })
</script>
<script>
    function FetchData() {
        var target = "/Json/GetData";
        $.ajax({
            url: target,
            type: "POST",
            async: true,
            success: function (result) {
                var jsonStr = JSON.stringify(result);
                $("#dataPH").text(jsonStr);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                alert("Status: " + textStatus); alert("Error: " + errorThrown); 
            },

        })
    }
</script>
