@model RegistrationDemo.Models.Member

@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

<p>
    ID: @Model.Id
</p>
<p>
    Name: @Model.Name
</p>
<p>
    Seniority: @Model.Seniority
</p>

<p>
    Is A Programmer: <input type="checkbox" checked=@Model.IsAProgrammer />
</p>
<a href="/Home/Index">Back to Index</a>
