@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Start...</h2>

<form action="/Home/Display?x=bye" method="post">
    <input type="hidden" name="x" value="hello" />
    <input type="hidden" name="y" value="12/11/2015" />
    <input type="hidden" name="x" value="how are you" />
    <input type="submit" value="Go" />
</form>
