@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form action="/Home/AddResult">
    First:<br />
    <input type="text" name="first" value="@Model.First"/>
    <br /><br />
    Second:<br />
    <input  name="second" value="@Model.Second"/>
    <br /><br />
    <input type="submit" value="Calculate" />
    <br /><br />
    <div>
        @ViewBag.Result
    </div>

</form>
