@using RegistrationDemo.Models

@{
    ViewBag.Title = "RegistrationPage";
}

<h2>RegistrationPage</h2>

<form action="/Home/Register" method="post">
    ID:
    <input name="Id" />
    <br /><br />
    Name:
    <input name="Name" />
    <br /><br />
    Seniority:
    <input name="Seniority" />
    <br /><br />
    <input type="checkbox" name="Seniority" /> Programmer
    <br /><br />
    <select name="CityId">
        <option value="-1">Select city</option>
        @foreach (City c in Model)
        {
            <option value="@c.CityId">@c.CityName</option>
        } 
    </select>
    <br /><br />
    <input type="submit" value="Register" />
</form>
