@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adding 3 numbers</title>
</head>
<body>
    <h1>Let's add 3 numbers</h1>
    <form>
        First:
        <input name="first" /><br/>
        Second:
        <input name="second" /><br/>
        Third:
        <input name="third" /><br/>

    </form>
</body>
</html>
